{% extends "base_generic.html" %}

{% block title %}Donations{% endblock %}


{% block content %}

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
    <h2>My Donations</h2>
    <div class="table-responsive">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for donation in user_donations %}
        <tr>
            <td scope="row">{{donation.id}}</td>
            <td scope="row">{{donation.project}}</td>
            <td scope="row">{{donation.project.category}}</td>
            <td scope="row">{{donation.donation}}</td>
            <td scope="row">{{donation.created_at}}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No Donations <td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
</main>



{% endblock content %}

