{% extends "base_generic.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<h4>welcome, {{request.user.first_name}}</h4>

<form method="post" enctype="multipart/form-data">
    <!-- {%csrf_token%}
        {{ form.as_p }} -->

    {%csrf_token%}

    {% for filed in form  %}
    <p>
        {{filed.label_tag}}
        {{filed}}
    </p>

    {% for error in filed.errors  %}
    <p style="color: red;">- {{error}}</p>
    {% endfor %}

    {% endfor %}

    {%if form.non_field_errors%}
    <p>
        {{form.non_field_errors}}
    </p>
    {%endif%}
    <button type="submit">update</button>
</form>

{% endblock content %}