<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- project_page scripts start -->

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/rating.css' %}">
    <script src="{% static 'js/rating.js' %}"></script>
    <!-- project_page scripts end -->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>{% block title %}title{% endblock %}</title>
</head>

<body>
    {% if request.user.is_authenticated %}
        {% include 'users/user_nav.html' with user=user%}
         
    {% else %}
        {% include "visitor_nav.html" %}
        
    {% endif %}

{% block content %}
{% endblock content %}
</body>

</html>