<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>{% block title %}title{% endblock %}</title>
</head>

<body>
    {% if request.user.is_authenticated %}
        {% include 'users/user_nav.html' with user=user%}
         
    {% else %}
        {% include "visitor_nav.html" %}
        
    {% endif %}

{% block content %}
{% endblock content %}
</body>

</html>