{% extends "base_generic.html" %}
{% block content %}

{% load static %}


{% block title %} 
{% endblock %}


   
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Categories_Projects</title>
  </head>
  <body>
    <div class="container">
        <h1>{{category_name}}</h1>
        <div class="row">
        {% for project in category_projects %}
          <div class="col-sm-4 mt-5">
            <div class="card" style="width: 18rem;">
              <img src="/media/projects/images/managment.jpg" class="card-img-top" style="width:100%; height:100px;">
              <div class="card-body">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.details}}</p>
                  <h5>Rate : {{project.rating}} </h5>
                {% comment %} <a href="{% url 'show_project' project.id %}" class="btn btn-success">Donate</a> {% endcomment %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
{%endblock%}