<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home_page' %}">CrowdFunding</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home_page' %}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="{% url 'users:register' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true" style="margin-right: 20px;">Sign Up</a>
        <a href="{% url 'users:login' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Log in</a>

    </div>
</nav>